name: Swift Package CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set Xcode Version
      run: sudo xcode-select -s /Applications/Xcode_16.app/Contents/Developer

    - name: Build and Test
      run: |
        xcodebuild test \
          -scheme MovieCore \
          -destination 'platform=iOS Simulator,name=iPhone 16,OS=latest' \
          -quiet